@font-face {
  font-family: PPNeueMachina_Light;
  src: url("./assets/fonts/PPNeueMachina_ Light.woff");
}

@font-face {
  font-family: PPNeueMachina_Medium;
  src: url("./assets/fonts/PP Neue Machina Inktrap Medium.woff");
}

@font-face {
  font-family: Satoshi_Variable;
  src: url("./assets/fonts/Satoshi-Variable.ttf");
}

* {
  font-family: Satoshi_Variable, Arial, Helvetica, sans-serif;
}

.light {
  font-family: PPNeueMachina_Light, Arial, Helvetica, sans-serif;
}

.medium {
  font-family: PPNeueMachina_Medium, Arial, Helvetica, sans-serif;
}

*::selection {
  background-color: #f76758;
}

:root {
  --black: #000000;
  --white: #fff;
  --cyan: #aedee0;
  --salmon: #ef9d71;
  --dcyan: #131a1a;
  --dsalmon: #2b1c1a;
}

.main[theme="black"] {
  background-color: var(--black);
}
.main[theme="black"] .section {
  color: var(--white);
}
.main[theme="cyan"] {
  background-color: var(--cyan);
}
.main[theme="cyan"] {
  color: var(--dcyan);
}
.main[theme="salmon"] {
  background-color: var(--salmon);
}
.main[theme="salmon"] .section {
  color: var(--dsalmon);
}
.main[theme="white"] {
  background-color: var(--white);
}
.main[theme="white"] .section {
  color: var(--black);
}
